@charset "UTF-8";
@font-face {
  font-family: 'Raleway', sans-serif; }

/*Variables*/
/*Colors*/
.sports {
  color: red; }

.exploration {
  color: lightsalmon; }

.humanities {
  color: blue; }

.institutions {
  color: green; }

.arts {
  color: purple; }

.public-figure {
  color: lightblue; }

.science-technology {
  color: yellowgreen; }

.business-law {
  color: lightgreen; }

/*General*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 11px; }

#meta {
  width: 100%;
  overflow: auto;
  /*Legend*/
  /*Year select*/ }
  #meta div {
    float: left; }
  #meta #legend ul {
    margin: 0;
    padding: 0; }
    #meta #legend ul li {
      display: inline;
      position: relative;
      margin-right: 15px; }
    #meta #legend ul li:before {
      content: "•";
      font-size: 32px;
      position: absolute;
      left: -12px;
      top: -12px; }
  #meta #year-select {
    width: 100px;
    float: right; }
    #meta #year-select span {
      display: inline-block;
      float: right; }
    #meta #year-select select {
      float: right; }

#wrapper {
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  border: 1px black solid;
  /*Time scale*/
  /*Chart window*/ }
  #wrapper #time-scale {
    direction: rtl;
    height: 40px;
    background-color: #aaa;
    position: absolute;
    z-index: 2; }
    #wrapper #time-scale .vertical-text {
      transform: rotate(90deg);
      right: -14px;
      position: absolute;
      top: 13px; }
  #wrapper #chart-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    direction: rtl;
    position: relative;
    max-height: 300px; }
    #wrapper #chart-wrapper #chart {
      padding-top: 40px;
      /*Time lines*/ }
      #wrapper #chart-wrapper #chart .row {
        position: relative;
        height: 20px; }
        #wrapper #chart-wrapper #chart .row .wrapper {
          position: absolute;
          width: 100%;
          height: 100%; }
          #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper {
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 1; }
            #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper span {
              position: absolute; }
            #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper span.name {
              left: 6px;
              top: 5px; }
            #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper span.name:hover {
              text-decoration: underline; }
            #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper span.bullet {
              font-size: 24px;
              line-height: 11px;
              left: -4px;
              top: 5px; }
      #wrapper #chart-wrapper #chart .stripe-1 {
        background-color: #ddd; }
      #wrapper #chart-wrapper #chart .stripe-2 {
        background-color: #eaeaea; }
      #wrapper #chart-wrapper #chart .stripe-3 {
        background-color: #f7f7f7; }
      #wrapper #chart-wrapper #chart .stripe-4 {
        background-color: white; }
      #wrapper #chart-wrapper #chart #time-lines {
        position: absolute;
        height: 100%;
        z-index: 1; }
        #wrapper #chart-wrapper #chart #time-lines .col-1 {
          border-left: dashed #c4c4c4 1px; }
        #wrapper #chart-wrapper #chart #time-lines .col-2 {
          border-left: solid #c4c4c4 1px; }

.col {
  float: right;
  height: 100%;
  position: relative;
  box-sizing: border-box; }
