@charset "UTF-8";
@font-face {
  font-family: 'Raleway', sans-serif; }

/*Variables*/
/*Colors*/
.sports {
  color: #1abc9c; }

.exploration {
  color: #2ecc71; }

.humanities {
  color: #3498db; }

.institutions {
  color: #9b59b6; }

.arts {
  color: #34495e; }

.public-figure {
  color: #f39c12; }

.science-technology {
  color: #d35400; }

.business-law {
  color: #27ae60; }

/*General*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 11px; }

a {
  color: lightblue; }

a:visited {
  color: #86c5da; }

a:hover {
  color: #5fb3ce; }

a:active {
  color: #d4ebf2; }

#meta {
  width: 100%;
  overflow: auto;
  min-height: 26px;
  /*Legend*/
  /*Year select*/ }
  #meta div {
    float: left; }
  #meta #legend ul {
    margin: 0;
    padding-left: 10px; }
    #meta #legend ul li {
      display: inline;
      position: relative;
      margin-right: 15px;
      white-space: nowrap; }
    #meta #legend ul li:before {
      content: "•";
      font-size: 32px;
      position: absolute;
      left: -12px;
      top: -12px; }
  #meta #year-select {
    width: 100px;
    float: right;
    margin: 10px 0; }
    #meta #year-select span {
      display: inline-block;
      float: right; }
    #meta #year-select select {
      float: right; }

#wrapper {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px black solid;
  /*Time scale*/
  /*Time lines*/
  /*Chart window*/ }
  #wrapper #time-scale {
    direction: rtl;
    height: 45px;
    background-color: #aaa;
    position: absolute;
    z-index: 2; }
    #wrapper #time-scale .vertical-text {
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      right: -22px;
      top: 22px;
      text-align: left;
      font-size: 10px;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      line-height: 10px;
      height: 10px;
      width: 45px;
      overflow: visible;
      white-space: nowrap; }
  #wrapper #time-lines {
    position: absolute;
    height: 100%;
    z-index: 1; }
    #wrapper #time-lines .col-1 {
      border-left: dashed #c4c4c4 1px; }
    #wrapper #time-lines .col-2 {
      border-left: solid #c4c4c4 1px; }
  #wrapper #chart-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    direction: rtl;
    position: relative;
    max-height: 298px; }
    #wrapper #chart-wrapper #chart {
      padding-top: 45px; }
      #wrapper #chart-wrapper #chart .row {
        position: relative;
        height: 20px; }
        #wrapper #chart-wrapper #chart .row .wrapper {
          position: absolute;
          width: 100%;
          height: 100%; }
          #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper {
            position: relative;
            height: 100%;
            width: 100%; }
            #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper span {
              position: absolute; }
            #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper span.name {
              left: 6px;
              top: 5px;
              cursor: pointer;
              -webkit-transform: translateZ(1px);
              -moz-transform: translateZ(1px);
              -o-transform: translateZ(1px);
              transform: translateZ(1px);
              z-index: 1; }
            #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper span.name:hover {
              font-weight: 800; }
            #wrapper #chart-wrapper #chart .row .wrapper .name-wrapper span.bullet {
              font-size: 24px;
              line-height: 11px;
              left: -4px;
              top: 5px; }
      #wrapper #chart-wrapper #chart .stripe-1 {
        background-color: #ddd; }
      #wrapper #chart-wrapper #chart .stripe-2 {
        background-color: #eaeaea; }
      #wrapper #chart-wrapper #chart .stripe-3 {
        background-color: #f7f7f7; }
      #wrapper #chart-wrapper #chart .stripe-4 {
        background-color: white; }

.col {
  float: right;
  height: 100%;
  box-sizing: border-box;
  z-index: -1; }

#profile {
  background-color: #e8f4f8;
  padding: 10px 20px;
  border: lightblue 1px solid;
  display: inline-block;
  margin-top: 1em;
  min-width: 250px; }
  #profile ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
    #profile ul strong {
      font-weight: 800; }

#info {
  text-align: right;
  margin-top: 8em; }
  @media screen and (max-width: 768px) {
    #info {
      text-align: left;
      margin-top: 1.5em; } }

.col-4, .col-8 {
  float: left; }

.col-4 {
  width: 25%; }
  @media screen and (max-width: 768px) {
    .col-4 {
      width: 100%; } }

.col-8 {
  width: 75%; }
  @media screen and (max-width: 768px) {
    .col-8 {
      width: 100%; } }
